.table-wrapper {
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: 'Museo Sans Rounded';
}

.table-wrapper thead {
    position: sticky;
    top: 0px;
}

