.table-wrapper {
    border: 1px solid #bdbbb7;
    height: auto;
    max-height: 600px;
    width: 95%;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: 'Museo Sans Rounded';
}

.table-wrapper td {
    border-right: 1px solid #bdbbb7;
}

.table-wrapper th {
    font-weight: 600;
}

.table-wrapper thead {
    position: sticky;
    top: 0px;
}

