.comparison-filter {
    width: 28%;
    margin-right: 2%;
}

.column-sort-input-asc {
    width: 30%;
}

.new-germplasm-genetic-material {
    width: 50%;
}

.new-germplasm-genetic-grain-texture {
    margin-left: 2%;
    width: 50%;
}

.new-germplasm-column-select {
    width: 50%;
}

.new-germplasm-genetic-genetic-origin {
    margin-left: 2%;
    width: 30%;
}

.new-germplasm-genetic-transgenic-select {
    margin-left: 2%;
    width: 20%;
}

@media all and (max-width: 768px) {
    .comparison-filter {
        width: 100%;
        margin-right: 0%;
    }
    .column-sort-input-asc {
        width: 100%;
        margin-bottom: 12px;
    }

    .new-germplasm-genetic-material {
        width: 100%;
        margin-bottom: 12px;
    }

    .new-germplasm-genetic-grain-texture {
        margin-left: 0%;
        width: 100%;
    }

    .new-germplasm-genetic-material-linhagem {
        margin-left: 0%;
        width: 100%;
    }

    .new-germplasm-column-select {
        width: 100%;
        margin-bottom: 12px;
    }
    .new-germplasm-genetic-genetic-origin {
        margin-left: 0%;
        width: 100%;
    }
    
    .new-germplasm-genetic-transgenic-select {
        margin-left: 0%;
        width: 100%;
    }
}