.filters-container {
    padding: 0px 12px 0px 12px;
    border-radius: 12px;
    width: 95%;
    margin-bottom: 24px;
}

.warning-text {
    font-size: 14px;
    color: rgb(220, 53, 69);
}

.order-filter-advice {
    font-size: 14px;
    color: rgb(105, 101, 101);
}

.filters-container-first-line {
    padding: 0px 0px 12px 0px;
    margin: 12px 12px 12px 1%;
}

.filters-row {
    display: flex;
    gap: 10px;
    padding: 0px 0px 16px 0px;
    align-items: flex-end;
    width: 100%;
}

.filters-radios-container {
    display: flex;
}

.delete-filter-container {
    display: flex;
    margin-bottom: 8px;
    align-items: flex-start;
}

@media all and (max-width: 768px) {
    .filters-row {
        flex-direction: column;
    }
    .filters-row * {
        width: 100%;
    }
}