.header * {
    background-color: #006400;
}

.header {
    font-family: 'Museo Sans Rounded';
    background-color: #006400;
    color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    padding: 16px 24px 16px 24px;
    font-size: 16px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-bottom: 1px solid #006400;
    white-space: nowrap;
}

.header-title-options {
    display: flex;
    align-items: center;
}

.header h3 {
    /* topo | direita | inferior | esquerda */
    font-size: 22px;
    padding: 0px;
    margin-bottom: 0px;
    width: auto;
    margin-right: 15%;
    white-space: nowrap;
    color: #faf9f6;
}

.nav-option {
    color: #faf9f6;
    text-decoration: none;
    margin: 0px 40px 0px 0px;
}

.nav-option:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #faf9f6;
}

.user-container {
    font-size: 14px;
    color: #faf9f6;
}

@media all and (max-width: 768px) {
    .header-title-options {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .header-title-options nav {
        margin-top: 12px;
    }
    .header {
        flex-direction: column;
    }
    .user-container {
        margin-top: 12px;
    }
}